{
  "root": true,
  "parserOptions": {
      "ecmaVersion": "latest",
      "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
  ],
  "ignorePatterns": ["src/dist"],
  "rules": {
    "no-console": "off",
    "indent": [
        "error",
        2
    ],
    "linebreak-style": [
       "error",
        "unix"
    ],
    "quotes": [
        "error",
        "single"
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}